@{
    ViewData["Title"] = "Création simple";
}

<div class="text-center">
    <h1 class="display-4">Créer une réservation simple</h1>
    <hr />

    <form>
        <label for="nbrPassagers">Nombre de passagers</label>
        <input id="nbrPassagers" />
        <hr />

        <label for="idClient">Identifiant client</label>
        <input id="idClient" />
        <hr />

        <button type="submit">Créer</button>
    </form>
</div>
